.main{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
  }
  .layout{
    flex-direction: row;
    border: 1px solid green;
    background-color: aqua;
    max-width: 900px;
  }
  .row{
     flex-wrap: wrap;
    display: flex;
    margin: 20px;
    border: 1px solid rgb(231, 13, 13);
  }
  .flex-colum{
    flex-direction:column;
    display: flex;
    padding: 20px;
  }
  .row1{
    padding: 20px;
    border: 1px solid ;
  }
  .colum{
    border: 1px solid green;
    margin: 12px;
  }
  .col-1{
    flex-grow: 1;
    flex-basis: 150px;
  }
  .col-2{
    flex-grow: 2;
    flex-basis: 150px;
  }
  .col-3{
    flex-grow: 3;
    flex-basis: 150px;
  }
  