.main{
    display: flex;
    height: 100vh;
    
}
.dashbord{
    max-width: 900px;
    background-color: green;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.row{
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid black;
    flex-wrap: wrap;
}
.colum{
    display: flex;
    flex-direction: colum;
    padding: 12px;
    border: 1px solid black;
    width: 200px;
   
}
/* .col{
    padding: 20px; 
    
} */
.flex-colum{
           display: flex;
           flex-direction: column;
           border: 1px solid black;
           padding: 12px;
           gap: 12px;
}
.flex-row{
    padding: 12px;
    border: 1px solid black;
}


