body{
    margin: 0;
    height: 100vh;
}
.layout{
    display: flex;
  
}
.sidenave{
    background-color: rgb(209, 206, 3);
    font-size: 20px;
    width:30%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    border: 2px solid black;    
}

.sidenave nav{
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidenave .iteam{

text-decoration: none;
border: 2px solid black;
}

.layout .content{
    border: 2px solid black;
    width: 60%;
    padding: 20px;
    overflow: auto;
    height: 100vh;
}

.card-section{
    border:2px solid black;
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 60%;
    flex-wrap: wrap;
}
.card{
    
    background-color: rgb(51, 194, 38);
    height: 30%;
    margin:20px;
}