*{
    box-sizing: border-box;
}
.containar{
    display:grid;
    border: 2px solid black;
    grid-template-columns:  250px 30% 1fr;
    grid-template-rows: 80px 300px 1fr 1fr 1fr 60px;
    /* padding: 12px; */
    /* gap: 0 20px; */
}
header{
    background-color: darkblue;
    grid-column:1/4;
    grid-row: 1/2;
}
.header-img{
    background-color: aqua;
    grid-column:1/4;
    grid-row: 2/3;
}
nav{
    background-color: red;
    grid-column:1/2;
    grid-row: 3/6;
}
main{
    background-color: yellow;
    grid-column:2/4;
    grid-row: 3/4;
}
.banner{
    background-color: aqua;
    grid-column:2/4;
    grid-row: 4/5;
}
.adds{
    background-color:white;
    grid-column:2/3;
    grid-row: 5/6;
}
.footer-img{
    background-color:blue;
    grid-column:3/4;
    grid-row: 5/6;
}
footer{
    background-color:black;
    grid-column:1/4;
    grid-row: 6/7;
}
