*{
    box-sizing: border-box;
}
.containar{
    display:grid;
    border: 2px solid black;
    /* grid-template-columns:  250px 30% 1fr;
    grid-template-rows: 80px 300px 1fr 1fr 1fr 60px; */
     grid-template-areas: 
     " header header header"
     "header-img header-img header-img"
     "nav main main"
     "nav banner banner"
     "nav adds footer-img"
     " footer footer footer";
    height: 100vh;
}
header{
    background-color: darkblue;
    grid-area: header;
   
}
.header-img{
    background-color: aqua;
    grid-area: header-img;
}
nav{
    background-color: red;
    grid-area: nav;
}
main{
    background-color: yellow;
    grid-area: main;
}
.banner{
    background-color: aqua;
    grid-area: banner;
}
.adds{
    background-color:white;
    grid-area: adds;
}
.footer-img{
    background-color:blue;
    grid-area: footer-img;
}
footer{
    background-color:black;
    grid-area: footer;
}
